@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root {
    --font: "Amatic SC"sans-sarif;
    --gradient: linear-gradient(to right, #f59a9a, #d945fec7)
}

body,
html {
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative
}

.title_spot {
    position: absolute;
    right: -60px;
    top: 160px
}

.title_spot2 {
    position: absolute;
    left: 0;
    top: 70px
}

.content {
    max-width: 574px;
    margin: 0 auto 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1
}

.content__header {
    font-family: "Amatic SC", cursive;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(45deg, #f59a9a 0, #d945fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b2349;
    display: table;
    letter-spacing: 1px;
    margin-bottom: 80px
}

.work {
    margin: 0 auto 90px auto;
    max-width: 90%
}

.work__header {
    font-family: "Amatic SC", cursive;
    font-size: 48px;
    color: #0571f9;
    margin-bottom: 10px
}

@media screen and (max-width:425px) {
    .work__header {
        text-align: center
    }
}

.bottom_spot1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%
}

.bottom_spot2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55%
}

.image {
    transition: all ease .2s;
    display: block;
    max-width: 100%;
    height: auto
}

.rating {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

@media screen and (max-width:768px) {
    .rating {
        max-width: 100%;
        flex-direction: column;
        flex-wrap: nowrap !important
    }
}

.rating__items {
    width: 573px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start
}

@media screen and (max-width:768px) {
    .rating__items {
        justify-content: center
    }
}

@media screen and (max-width:768px) {
    .button_container {
        margin: 0 auto
    }
}

.rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0
}

.rating__item_label {
    width: 40px;
    height: 40px;
    font-family: "Amatic SC", cursive;
    font-size: 36px;
    border: 3px solid #852cf6;
    margin-right: 15px;
    border-radius: 50%;
    text-align: center;
    transition: all .3s ease 0s;
    cursor: pointer
}

.rating__item:checked,
.rating__item:checked~.rating__item_label {
    color: #fff;
    background-color: #852cf6
}

.rating__item_label:checked~.rating__item_label:hover,
.rating__item_label:hover,
.rating__item_label:hover~.rating__item_label {
    color: #fff;
    background-color: #852cf6
}

.btn_rate {
    position: relative;
    width: 185px;
    background-color: transparent;
    color: #35cde4;
    border-color: #35cde4;
    border: 2px solid;
    border-radius: 5px;
    font-family: "Amatic SC", cursive;
    box-shadow: inset 0 0 0 0 #35cde4;
    transition: ease-out .3s;
    font-size: 24px
}

.btn_rate:hover {
    box-shadow: inset 300px 0 0 0 #35cde4;
    cursor: pointer;
    color: #fff
}

@media (max-width:767px) {
    .rating {
        flex-wrap: wrap
    }

    .rating__items {
        margin-bottom: 20px
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0
}

*,
:after,
:before {
    box-sizing: border-box
}

:active,
:focus {
    outline: 0
}

a:active,
a:focus {
    outline: 0
}

aside,
footer,
header,
nav {
    display: block
}

body,
html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer;
    background-color: transparent
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a,
a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
header {
    overflow-x: hidden
}

.header {
    flex-shrink: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 5px 25px;
    border-bottom: 3px solid;
    border-color: #f59a9a;
    -o-border-image: linear-gradient(45deg, #f59a9a 0, #d945fe 100%);
    border-image: linear-gradient(45deg, #f59a9a 0, #d945fe 100%);
    border-image-slice: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: calc(100% - 10px);
    z-index: 2
}

.header_logo {
    width: 53px;
    height: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 2px;
    transition: transform .4s, margin-right .2s
}

.header_logo:hover {
    transform: scale(1.1);
    margin-right: 10px;
    transition: transform .4s, margin-right .2s, width .1s
}

.header_text {
    font-family: "Amatic SC", cursive;
    background: linear-gradient(45deg, #f59a9a 0, #d945fe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    height: 53px
}

.logo_link {
    text-decoration: none;
    display: flex;
    align-items: center
}

.nav {
    width: 600px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between
}

.nav a {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    text-decoration: none;
    color: #393939;
    font-family: "Amatic SC", cursive;
    font-size: 32px;
    display: flex;
    align-items: center;
    transition: transform .2s, text-shadow .2s
}

.nav a:hover {
    transform: scale(1.1);
    background-image: url(img/svg/skipe.svg);
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: center;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, .21);
    transition: transform .2s, background-image rotate(10deg)
}

.header_burger {
    display: none
}

.burger__wrapper {
    display: none
}

@media (max-width:768px) {
    .header {
        padding: 13px 15px
    }

    .nav {
        display: none
    }

    .burger__wrapper {
        display: block
    }

    .burger__checkbox {
        display: none
    }

    .burger__checkbox:checked~.burger__button {
        position: fixed
    }

    .burger__checkbox:checked~.burger__menu {
        right: 0
    }

    .burger__checkbox:checked~.burger__button .burger__button-line:nth-child(1) {
        transform: rotate(45deg);
        top: 8px
    }

    .burger__checkbox:checked~.burger__button .burger__button-line:nth-child(2) {
        width: 0
    }

    .burger__checkbox:checked~.burger__button .burger__button-line:nth-child(3) {
        transform: rotate(-45deg);
        top: -6px
    }

    .burger__button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;
        z-index: 1
    }

    .burger__button-line {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 100px;
        background-color: #000;
        margin: 2px 0;
        position: relative;
        transition: all linear .2s
    }

    .burger__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 500px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 40px 40px;
        transition: right .4s;
        border-bottom-left-radius: 25px
    }

    .burger__menu-link {
        height: 70px;
        text-decoration: none;
        color: #393939;
        font-family: "Amatic SC", cursive;
        font-size: 32px;
        display: flex;
        align-items: center;
        transition: transform .2s, text-shadow .2s
    }

    .burger__menu-link:hover {
        transform: scale(1.1);
        background-image: url(/img/skipe.svg);
        background-repeat: no-repeat;
        background-size: 55px;
        background-position: center;
        text-shadow: 3px 4px 5px rgba(0, 0, 0, .21);
        transition: transform .2s, background-image rotate(10deg)
    }
}

* {
    scrollbar-width: auto;
    scrollbar-color: #d84dff #dbccff
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #dbccff
}

::-webkit-scrollbar-thumb {
    background-color: #d84dff;
    border-radius: 10px;
    border: 0 solid #fff
}

body,
html {
    box-sizing: border-box;
    height: 100%
}

.header_title_wrapper {
    padding: 170px;
    height: 100%
}

.header_svg {
    position: absolute
}

.title_spot {
    width: 17%;
    position: absolute;
    right: 0;
    top: 140px
}

.title_spot2 {
    width: 17%;
    position: absolute;
    left: 0;
    top: 100px
}

.title_hand1 {
    position: absolute;
    top: -70px;
    right: -450px
}

.title_hand2 {
    position: absolute;
    top: 150px;
    right: 250px
}

.title_spray1 {
    position: absolute;
    top: -15px;
    left: -400px
}

.title_spray2 {
    position: absolute;
    top: 250px;
    left: 0
}

.title_spray3 {
    position: absolute;
    top: 240px;
    left: -250px
}

.title_spray4 {
    position: absolute;
    top: -30px;
    left: 40px
}

.title_spray5 {
    position: absolute;
    top: 160px;
    left: 270px
}

.content_header-wrapper {
    width: 232px;
    display: flex;
    align-items: center;
    margin: 0 20px 100px 20px;
    border-bottom: 2px solid;
    border-color: #ff8a3d;
    margin-bottom: 37px
}

.content_header-image {
    width: 60px
}

.content_header {
    font-family: "Amatic SC", cursive;
    font-size: 30px
}

.content {
    max-width: 1200px;
    margin: auto
}

.card {
    overflow: hidden;
    cursor: pointer;
    width: 360px;
    height: 330px;
    font-family: "Amatic SC", cursive;
    font-size: 26px;
    border-radius: 1%;
    margin: 0 20px 100px 20px;
    position: relative;
    transition: transform .2s;
    position: relative
}

.img_card {
    transition: transform .4s
}

.img_card:hover {
    transform: scale(1.1);
    transition: transform .2s
}

.card_text {
    display: flex;
    align-items: center;
    width: 360px;
    height: 60px;
    padding-left: 17px;
    position: absolute;
    bottom: -27px;
    box-sizing: border-box
}

.img_card {
    width: 360px
}

.card1 .card_text {
    background: linear-gradient(90deg, #01d1ff 0, #0a95a8 100%)
}

.card2 .card_text {
    background: linear-gradient(90deg, #01ffa4 0, #5b9e7a 100%)
}

.card3 .card_text {
    background: linear-gradient(90deg, #ff01f5 0, #950d90 100%)
}

.active {
    width: 100px;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 25px;
    color: #ebff00;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1
}

.active_text {
    font-family: "Amatic SC", cursive;
    color: #ebff00
}

.active img {
    display: block
}

.content_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    z-index: 1
}

.content_wrapper {
    position: relative
}

.bottom_spot1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%
}

.bottom_spot2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55%
}

@media (max-width:767px) {
    .header_title {
        margin-top: 201px;
        margin-bottom: 80px
    }

    .header_title h1 {
        font-size: 35px;
        margin-bottom: -40px
    }

    .header_title h5 {
        font-size: 22px
    }

    .title_spot {
        width: 20%;
        position: absolute;
        right: 0;
        top: 450px
    }

    .title_spot2 {
        width: 20%;
        position: absolute;
        left: 0;
        top: 120px
    }

    .title_hand1 {
        width: 60px;
        position: absolute;
        top: -35px;
        left: 120px
    }

    .title_hand2 {
        width: 60px;
        position: absolute;
        top: 50px;
        right: 120px
    }

    .title_spray1 {
        width: 60px;
        position: absolute;
        top: -10px;
        left: -192px
    }

    .title_spray2 {
        width: 60px;
        position: absolute;
        top: 100px;
        left: 50px
    }

    .title_spray3 {
        width: 60px;
        position: absolute;
        top: 112px;
        left: -83px
    }

    .title_spray4 {
        width: 60px;
        position: absolute;
        top: -20px;
        left: 0
    }

    .title_spray5 {
        width: 49px;
        position: absolute;
        top: 57px;
        left: 117px
    }

    .card {
        margin-bottom: 55px
    }

    .header_title {
        background-size: 270px;
        background-position-y: -38px
    }

    .header_title_wrapper {
        padding: 0
    }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {
    .content {
        width: 750px
    }

    .header_title h1 {
        font-size: 68px
    }

    .title_hand1 {
        width: 130px;
        right: 10px;
        top: -60px
    }

    .title_hand2 {
        top: 160px;
        left: 90px;
        width: 100px;
        transform: rotate(-60deg)
    }

    .title_spray1 {
        width: 100px;
        top: 10px;
        left: 20px
    }

    .title_spray2 {
        width: 100px;
        top: 206px;
        left: 563px
    }

    .title_spray3 {
        width: 100px;
        top: 105px;
        left: 85px;
        width: 60px;
        transform: rotate(-30deg)
    }

    .title_spray4 {
        top: -23px;
        left: 416px;
        width: 70px;
        transform: rotate(20deg)
    }

    .title_spray5 {
        top: 181px;
        left: 264px
    }

    .bottom_spot1 {
        width: 70%
    }

    .bottom_spot2 {
        width: 60%
    }

    .card {
        margin-bottom: 55px
    }

    .header_title {
        background-size: 270px;
        background-position-y: -38px
    }
}

.form-title,
.title {
    font-family: "Amatic SC", cursive;
    text-align: center;
    background: linear-gradient(268.36deg, #f81f94 .23%, #9129ab 91.54%);
    font-size: 48px;
    font-weight: 700;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px
}

.title_huge {
    font-size: 64px
}

@media screen and (max-width:425px) {

    .form-title,
    .title {
        font-size: 36px
    }
}

.form-title {
    background: linear-gradient(267.59deg, #092eec .72%, #8922ef 59.59%, #ac14f3 99.84%);
    -webkit-background-clip: text;
    background-clip: text
}

.contests-tite__title,
.subtitle {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    font-family: "Amatic SC", cursive
}

.subtitle_huge {
    font-size: 38px
}

.subtitle_margin-down {
    margin-bottom: 50px
}

@media screen and (max-width:425px) {

    .contests-tite__title,
    .subtitle {
        font-size: 28px
    }
}

.input,
.select,
.standart-text {
    font-family: "Amatic SC", cursive;
    font-size: 24px
}

.image {
    position: relative
}

.image img {
    transition: all ease .2s;
    position: absolute;
    left: 0;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px
}

.main {
    min-height: 100%;
    max-height: auto;
    position: relative;
    flex: 1 1 0;
    padding: 130px 0 50px 0
}

.card-title {
    font-family: "Amatic SC", cursive;
    font-size: 26px;
    font-weight: 700
}

.card-title_yellow {
    color: #ebff00
}

@media screen and (max-width:425px) {
    .card-title {
        font-size: 21px
    }
}

.reletive {
    position: relative
}

.contests {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.card {
    position: relative;
    max-width: 600px;
    width: 350px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px 25px;
    cursor: pointer
}




.card_full-width {
    width: 100%
}

.card_center {
    margin-left: auto;
    margin-right: auto
}

.card:nth-child(n+1) .card__line {
    background: linear-gradient(259.47deg, #01ffa4 6.94%, #5b9e7a 97.89%)
}

.card:nth-child(3n) .card__line {
    background: linear-gradient(268.36deg, #f81f94 .23%, #9129ab 91.54%)
}

.card:nth-child(3n+1) .card__line {
    background: linear-gradient(260.79deg, #01d1ff 8.7%, #0a95a8 87.77%)
}

.card:hover img {
    transform: scale(1.1)
}

.card_active .card__active-wrapper {
    display: flex
}

.card__cup {

    z-index: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 80px;
    width: 80px
}

.card__settings {
    display: none;
    position: absolute;
    opacity: .9;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    -webkit-animation: showCardPopUp .2s ease;
    animation: showCardPopUp .2s ease;
    overflow: hidden
}

@-webkit-keyframes showCardPopUp {
    0% {
        transform: scale(0);
        border-radius: 100%
    }

    100% {
        transform: scale(1);
        border-radius: 0
    }
}

@keyframes showCardPopUp {
    0% {
        transform: scale(0);
        border-radius: 100%
    }

    100% {
        transform: scale(1);
        border-radius: 0
    }
}

.card__dots-button {
    fill: #fff
}

.card__settings-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, .829)
}

.card__settings-body {
    position: relative;
    color: #fff
}

.card__active-wrapper {
    display: block/*  */;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 50px;
    z-index: 1;
    background: rgba(0, 0, 0, .5)
}

.card__active-text {
    margin-right: 5px
}

.card__image {
    overflow: hidden;
    width: 100%;
    height: 240px
}

.card__image img {
    transition: all ease .2s
}

.card__image_margin {
    margin-bottom: 15px
}

.card__image_big-height {
    height: 300px
}

.card__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 10px;
    color: #fff
}





.contest-winner .card:first-child .card__cup {
    display: block
}

.background-wrapper {
    z-index: -2;
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 100px
}

.background-wrapper_bottom {
    bottom: 0;
    align-items: flex-end
}

.background-wrapper__shape_right-margin {
    margin-right: 150px
}

.background-wrapper__shape img {
    -o-object-fit: cover;
    object-fit: cover
}

@media screen and (max-width:1024px) {
    .background-wrapper__shape img {
        width: 100%
    }
}

.parallax {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 900px;
    margin: 0 auto 70px
}

@media screen and (max-width:1024px) {
    .parallax {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content
    }
}

.parallax__move-item {
    position: absolute
}

.parallax__move-item:nth-child(1) {
    right: 0;
    top: 0
}

.parallax__move-item:nth-child(2) {
    left: 0;
    bottom: 35%
}

.parallax__move-item:nth-child(3) {
    left: 20%;
    top: 0
}

.parallax__move-item:nth-child(4) {
    right: 40%;
    bottom: 0
}

.parallax__move-item:nth-child(5) {
    left: 15%;
    bottom: 0
}

.parallax__move-item:nth-child(6) {
    right: 30%;
    top: 0
}

.parallax__move-item:nth-child(7) {
    right: 20%;
    bottom: 10%
}

@media screen and (max-width:1024px) {
    .parallax__move-item {
        display: none
    }
}

.contests-tite {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px
}

.contests-tite__icon img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 60px;
    width: 60px
}

.contests-tite__title {
    text-transform: uppercase;
    font-size: 35px
}

.contests-tite::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ff8a3d;
    height: 3px;
    width: 100%
}

.search-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.search-form__item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px
}

.search-form__text {
    margin-right: 5px
}

.search-form .contests-tite {
    margin-right: 20px
}

.gradient-wrapper {
    background: linear-gradient(260.79deg, #01d1ff 8.7%, #0a95a8 87.77%);
    padding: 2px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%
}

.input {
    width: 100%
}

.input-search {
    cursor: pointer
}

.input-search svg {
    width: 20px;
    height: 20px
}

.spot_form1 {
    right: 0;
    top: -10%
}

.spot_form2 {
    left: 0;
    top: 30%
}

.flex {
    display: flex
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center
}

.form_select {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content
}

.important-field {
    font-weight: 700
}

.important-field::after {
    content: "*";
    color: red
}

.text-area {
    width: 100%;
    font-size: 24px;
    font-family: "Amatic SC", cursive
}

.personal-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px
}

.personal-area .gradient-wrapper {
    width: 100%
}

.personal-area .input {
    width: 100%
}

.personal-area__text-area {
    max-width: 100%;
    min-width: 100%
}

.personal-area__container {
    display: grid;
    max-width: 400px;
    width: 100%;
    grid-template-columns: 1fr 180px;
    grid-row-gap: 20px
}

.personal-area__container_wide {
    max-width: 600px
}

.personal-area .button {
    grid-column-start: 1;
    grid-column-end: 3
}

.grid {
    display: grid
}

.button {
    cursor: pointer;
    display: block;
    background-color: #0aacf0;
    font-family: "Amatic SC", cursive;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    font-size: 24px;
    font-weight: 700
}

.button_blue {
    background-color: #0aacf0
}

.button_purple {
    background-color: #ac14f3
}

.button_center-huge {
    max-width: 550px;
    width: 100%;
    margin: 55px auto
}

.button_full-width {
    width: 100%
}

.bottom-50 {
    margin-bottom: 50px
}

.display-block {
    display: block
}

.form {
    max-width: 350px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 33px 0 #0000009a;
    border-radius: 5px
}

.form .input,
.form .select,
.form .standart-text {
    margin-bottom: 15px
}

.form .input {
    margin-bottom: 0
}

.form .button {
    margin-bottom: 15px
}

.form .gradient-wrapper {
    width: 100%;
    margin-bottom: 15px
}
.button_container{
    margin: 0 auto;
    text-align: center;
}
.message_btn{
    padding: 5px;
}




.contest-winner .card:first-child {
    width: 100%;
    max-width: 800px

}
.contest-winner .card {
    width: 80%;
    max-width: 600px

}

@media screen and (max-width:600px) {
    .contest-winner .card {
        width: 100%;


    }
}
.card_full-width {
    width: 100%;
}


.cabinet_form{
    max-width: 1050px ;
    margin: 40px auto;
}
